<!DOCTYPE html>
<html>
  <head lang="en-us">
    <meta charset="utf-8">
    <title><%- ((typeof title !== 'undefined') ? title + ' &mdash; ' : '') + site.title %></title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
