
</div> <!-- .container -->

<!-- Footer bar -->
<footer class="row mt-auto bg-light text-secondary border border-top-0">
  <div class="container-fluid py-1">
    &copy; 2017 Jake Mitchell
  </div>
</footer>

</div> <!-- .col-sm-9 .col-lg-10 .pt-4 -->
</div> <!-- .row .h-100 -->
</div> <!-- .container-fluid -->

<%- include('scripts') %>

</body>
</html>
