<!DOCTYPE html>
<html>
  <head lang="en-us">
    <meta charset="utf-8">
    <title><%- ((titleCase(url) !== '') ? titleCase(url) : 'Dashboard') + ' &mdash; ' + site.title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <% if (slashBefore(url) != '/login') { %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous" />
    <% } %>
  </head>
  <body>
